
.page-action-v2 .page-action-menu,
.page-action-v2 .page-action-menu.open {
  background: var(--primary);
}

.page-action-v2 .page-action-menu:hover,
.page-action-v2 .page-action-menu:hover {
  background: var(--primaryLight);
}

.page-action-v2 .page-action-holder .page-action-item .page-action-icon, 
.page-action-v2 .page-action-holder .page-action-item .page-action-letter {
  background-color: var(--primary);
}

.page-action-v2 .page-action-holder .page-action-item .page-action-icon:hover, 
.page-action-v2 .page-action-holder .page-action-item .page-action-letter:hover {
  background-color: var(--primaryLight);
}